@page "/canvas"
@inherits CanvasBase

<PageTitle>Canvas Representations</PageTitle>

<input placeholder="Enter your primitive"
       value="@Value" @onchange="OnInputChanged"/>
<br/>
<hr>
<div style="display: flex; justify-content: left; margin: 0 auto; width: 100%;">

    <svg width="@OutputSize" height="@OutputSize" style="position: absolute">
        <defs>
            <pattern id="tenthGrid" width="10" height="10" patternUnits="userSpaceOnUse">
                <path d="M 10 0 L 0 0 0 10" fill="none" stroke="silver" stroke-width="1"/>
            </pattern>
            <pattern id="grid" width="40" height="40" patternUnits="userSpaceOnUse">
                <rect width="40" height="40" fill="url(#tenthGrid)"/>
                <path d="M 40 0 L 0 0 0 40" fill="none" stroke="gray" stroke-width="1"/>
            </pattern>
        </defs>
        <rect width="100%" height="100%" fill="url(#grid)"/>
    </svg>

    <BlazorCanvas @ref="CanvasRef">
        <canvas width="@OutputSize" height="@OutputSize"
                style="position: absolute;"/>
    </BlazorCanvas>
</div>